language: php
php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm

env:
    - PHP_BIN=php

before_script:
    - composer install --no-interaction

script:
    - ./vendor/bin/tester -p $PHP_BIN -s ./tests/cases
