x-php-service-base: &php-service-base
    deploy:
      replicas: 0

    volumes:
      - ./src:/usr/src/app/src
      - ./tests:/usr/src/app/tests
      - ./composer.bridgeless.json:/usr/src/app/composer.bridgeless.json

    environment:
      PHP_EXTENSION_PGSQL: 1
      PHP_EXTENSION_PDO_PGSQL: 1

services:
  php80:
    <<: *php-service-base
    image: thecodingmachine/php:8.0-v5-cli

  php81:
    <<: *php-service-base
    image: thecodingmachine/php:8.1-v5-cli

  php82:
    <<: *php-service-base
    image: thecodingmachine/php:8.2-v5-cli

  php83:
    <<: *php-service-base
    image: thecodingmachine/php:8.3-v5-cli

  php84:
    <<: *php-service-base
    image: thecodingmachine/php:8.4-v5-cli

  php85:
    <<: *php-service-base
    image: thecodingmachine/php:8.5-v5-cli

  postgres:
    image: postgres:9.6
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nextras_migrations_test

  mysql:
    image: mysql:5.6
    environment:
      MYSQL_DATABASE: nextras_migrations_test
      MYSQL_ROOT_PASSWORD: root
