extensions:
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: migrations
	driver: Nextras\Migrations\Drivers\MySqlDriver(@Nextras\Migrations\IDbal)

services:
	- Dibi\Connection(%dibiConfig%)
	- Nextras\Migrations\Bridges\Dibi\DibiAdapter
