extensions:
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: migrations
	dbal: dibi
	driver: Nextras\Migrations\Drivers\MySqlDriver(_, m)

services:
	- Dibi\Connection(%dibiConfig%)
