extensions:
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: migrations

services:
	- Dibi\Connection(%dibiConfig%)
	- Nextras\Migrations\Drivers\MySqlDriver
	- Nextras\Migrations\Bridges\Dibi\DibiAdapter
