extensions:
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: migrations
	driver: mysql
	dbal: Nextras\Migrations\Bridges\Dibi\DibiAdapter(_)

services:
	- Dibi\Connection(%dibiConfig%)
