extensions:
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: migrations
	driver: mysql

services:
	- Dibi\Connection(%dibiConfig%)
	- Nextras\Migrations\Bridges\Dibi\DibiAdapter
