extensions:
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

migrations:
	dir: migrations
	dbal: doctrine
	driver: mysql

services:
	- Doctrine\ORM\Tools\Setup::createXMLMetadataConfiguration([%doctrineDir%], true)
	- Doctrine\DBAL\DriverManager::getConnection(%doctrineConfig%, @Doctrine\ORM\Configuration)
	- Doctrine\ORM\EntityManager::create(@Doctrine\DBAL\Connection, @Doctrine\ORM\Configuration)
