migrations:
	dir: migrations
	driver: Nextras\Migrations\Drivers\MySqlDriver(...)
	enableResetCommand: true

services:
	- DibiConnection(%dibiConfig%)
	- Nextras\Migrations\Bridges\Dibi\DibiAdapter(...)
